*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}
a{
  color: black;
  text-decoration: none;
  font-weight: 700;
}

a:hover{
  color: gray;
}

nav {
  padding: 3vh 7vw 0 7vw;
  margin-bottom: 3vh;
  height: 6vh;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: white;
}

nav ul{
  display: flex;
  padding: 0;
  justify-content: space-around;
}
nav li{
  list-style: none;
  margin: 0 5vw;
}

main{
  margin-top: 9vh;
  margin-bottom: 3vh;
  min-height: 82vh;
}

footer{
  padding: 2vh 7vw;
  height: 6vh;
}

.covid-update{
  background-color: #FFFFE0;
  text-align: center;
  font-size: smaller;
  padding: 2vh 7vw;
  margin-bottom: 5vh;
}

.covid-update h2{
  margin-bottom: 2vh;
}

h1{
  text-align: center;
  margin: 5vh auto;
}

html {
  scroll-behavior: smooth;
}

.hero-image{
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  border-radius: 50%;
  margin: auto
}

.hero-image>img{
  width: auto;
  height: 100%;
  margin-left: -70px;
}